h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px; 
    color: darkolivegreen;
}

#brief{
    padding: 30px;
    background-color: olivedrab;
}

#article-brief{
    display:flex;
    display: flex;
    justify-content: space-between;
}

#article-brief p {
    position: relative;
    width: 45%
}